.titulo {
  margin-bottom: var(--e-9);
}

.grade {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--e-5);
}

.item {
  display: flex;
}

.item > * {
  width: 100%;
}

@media (min-width: 1080px) {
  .grade {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 560px) {
  .grade {
    grid-template-columns: 1fr;
  }
}
